@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
:root {
  --pink-color: #ff004f;
  --bg-color: #080800;
  --white-color: #fff;
  --light-pink: #e9497b;
}
body {
  background-color: var(--bg-color);
  color: var(--white-color);
}
html {
  scroll-behavior: smooth;
}
/* NavBar */
#header {
  width: 100%;
  background-size: cover;
  background-position: center;
}
.container {
  padding: 10px 10%;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.logo {
  width: 100px;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
nav ul li a {
  color: var(--white-color);
  text-decoration: none;
  font-size: 18px;
  position: relative;
}
nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  position: absolute;
  left: 0;
  background-color: var(--pink-color);
  bottom: -6px;
  transition: 0.5s;
}
nav ul li a:hover::after {
  width: 100%;
}
.main {
  padding: 50px 0;
}

.header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  font-size: 30px;
}
.header-text h1 {
  font-size: 50px;
  margin-top: 5px;
  text-align: start;
}
.header-text h1 span {
  color: var(--pink-color);
}
.header-img {
  flex-basis: 40%;
}
.header-img img {
  width: 100%;
  border-radius: 15px;
}
/* ---------------about---------- */

#about {
  padding: 80px 0;
  color: #ababab;
}
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-col-1 {
  flex-basis: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-col-1 img {
  width: 100%;
  border-radius: 15px;
}
.about-col-2 {
  flex-basis: 60%;
}

.sub-title {
  font-size: 60px;
  font-weight: 600;
  color: var(--white-color);
}
.tab-titles {
  display: flex;
  margin: 20px 0 20px;
}
.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: var(--pink-color);
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}
.tab-links.active-link::after {
  width: 50%;
}
.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}
.tab-contents ul li span {
  color: var(--light-pink);
  font-size: 14px;
  font-weight: 800;
}
.tab-contents {
  display: none;
}
.tab-contents.active-tab {
  display: block;
}
/* -----------services----------- */
#services {
  padding: 30px 0;
}
.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.services-list div {
  background: #262626;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
}
.services-list div i {
  font-size: 50px;
  margin-bottom: 30px;
}
.services-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}
.services-list div a {
  text-decoration: none;
  color: var(--white-color);
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}
.services-list div:hover {
  background: var(--pink-color);
  transform: translateY(-10px);
}

/* ------portfolio-------- */
#portfolio {
  padding: 50px 0;
}
.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.work img {
  width: 100%;
  display: block;
  border-radius: 10px;
  transition: transform 0.5s;
}
.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), var(--pink-color));
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}
.layer h3 {
  font-weight: 500;
  margin-bottom: 20px;
}
.layer a {
  margin-top: 20px;
  color: var(--pink-color);
  background: var(--white-color);
  text-decoration: none;
  line-height: 60px;
  font-size: 18px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  text-align: center;
}
.work:hover img {
  transform: scale(1.1);
}
.work:hover .layer {
  height: 100%;
}
.btn {
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid var(--pink-color);
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: var(--white-color);
  transition: background 1s;
}
.btn:hover {
  background: var(--pink-color);
}

/* ----------------contact--------------- */
.contact-left {
  flex-basis: 35%;
}
.contact-right {
  flex-basis: 60%;
}
.contact-left p {
  margin-top: 30px;
}
.contact-left p i {
  color: var(--pink-color);
  margin-right: 15px;
  font-size: 25px;
}
.social-icons {
  margin-top: 30px;
}
.social-icons a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #ababab;
  display: inline-block;
  transition: transform 0.5s;
}
.social-icons a:hover {
  color: var(--pink-color);
  transform: translateY(-5px);
}
.btn.btn2 {
  display: inline-block;
  background: var(--pink-color);
}
.contact-right form {
  width: 100%;
}
form input,
textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  color: var(--white-color);
  font-size: 15px;
  border-radius: 6px;
}
form .btn2 {
  padding: 14px 60px;
  cursor: pointer;
  font-size: 18px;
  margin-top: 20px;
}
#msg {
  color: #61b752;
  margin-top: -40px;
  display: block;
}
/* ----------copy rights--------- */
.copyright {
  width: 100%;
  text-align: center;
  padding: 25px 0;
  margin-top: 20px;
  background: #262626;
  font-weight: 300;
}

/* ----------css for small size----------- */

nav .fa-solid {
  display: none;
}
@media only screen and (max-width: 786px) {
  /* #header {
    /* background-image: url(images/phone-background.png); */
  /* } */
  .header-text {
    /* margin-top: 100%; */
    font-size: 16px;
  }
  .header-text h1 {
    font-size: 30px;
  }
  nav .fa-solid {
    display: block;
    font-size: 25px;
  }
  nav ul {
    position: fixed;
    background: var(--pink-color);
    top: 0;
    right: -299px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }
  nav ul li {
    display: block;
    margin: 25px;
  }
  nav ul .fa-solid {
    cursor: pointer;
    top: 25px;
    left: 25px;
    position: absolute;
  }
  .sub-title {
    font-size: 40px;
  }
  .about-col-1,
  .about-col-2 {
    flex-basis: 100%;
  }
  .about-col-1 {
    margin-bottom: 30px;
  }
  .about-col-2 {
    font-size: 14px;
  }
  .tab-links {
    font-size: 16px;

    margin-right: 20px;
  }
  .contact-left,
  .contact-right {
    flex-basis: 100%;
  }
  .copyright {
    font-size: 14px;
  }
}
